
.cards {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 230px;
  height: 250px;
  box-shadow: 2px 2px 2px lightgray;
  border: 1px solid rgba(211, 211, 211, 0.678);
}

.card:hover {
  background-color: lightgray;
}

.image-container {
  width: 230px;
  height: 100px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.image {
  width: 80%;
  height: 100%;
  background-size: cover;
}

.content {
  text-align: center;
  margin: 10px 5px;
}